@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3vh;
  background: var(--clr-background);
}
h1, h2, span, button, input, p, li, a {
  font-family: 'VT323', monospace;
  color: var(--clr-main);
}
img {
  filter: invert(0%) sepia(85%) saturate(955%) hue-rotate(131deg) brightness(81%) contrast(84%);
}