:root {
  /* --- Colors --- */
  --clr-main: #141414;
  --clr-background: #1BD46E;
  --clr-contrast: #C8C6D7;
  --clr-red: #e25151;

  /* --- Font zize --- */
  --fns-title: 2.4em;
  --fns-subtitle: 1.6em;
  --fns-text: 1.2em;
  --fns-small-text: 1em;
}